# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore eclipse settings
.settings
.project
.classpath

# Ignore idea settings
.idea

# Ignore compiled binaries
bin
*.class

# Ignore files with sensizive data
gradle.properties
secring.gpg

# Ignore vscode files
.vscode